<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>university website</title>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <section class="header">
        <nav>
            <a href="index.html"><img src="../assects/img/university_vector-removebg-preview.png"></a>
            <div class="nav-links">
                <i class="fa fa-times"></i>

                <ul>
                    <li><a href="">HOME</a></li>
                    <li><a href="">ABOUT</a></li>
                    <li><a href="">COURSES</a></li>
                    <li><a href="">BLOGS</a></li>
                    <li><a href="">CONTACT</a></li>
                </ul>
            </div>
            <i class="fa fa-bars"></i>
        </nav>
        <div class="text-box">
            <h1>worlds biggest university</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi sed neque deleniti quisquam illum quas
                doloremque,<br> esse debitis delectus voluptates!</p>
            <a class="hero-btn" href="">visit more contact us...</a>
        </div>
    </section>


    <section class="courses">
        <h1>Courses we offers</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Perspiciatis, sint.</p>
        <div class="row">
            <div class="courses-column">
                <h3>intermediate</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia dolorem ratione ipsa ea voluptate
                    repudiandae iusto autem eveniet excepturi quo architecto porro fugit, veniam pariatur dolor? At
                    dolor nisi pariatur?</p>
            </div>
            <div class="courses-column">
                <h3>degree</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia dolorem ratione ipsa ea voluptate
                    repudiandae iusto autem eveniet excepturi quo architecto porro fugit, veniam pariatur dolor? At
                    dolor nisi pariatur?</p>
            </div>
            <div class="courses-column">
                <h3>post graduations</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia dolorem ratione ipsa ea voluptate
                    repudiandae iusto autem eveniet excepturi quo architecto porro fugit, veniam pariatur dolor? At
                    dolor nisi pariatur?</p>
            </div>
        </div>

    </section>
    <section class="campus">
        <h1>our campus</h1>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Animi, tempora!</p>
        <div class="row">
            <div class="campus-col">
                <img src="../assects/img/289699.jpg" alt="">
                <div class="layer">
                    <h3>KARACHI</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="../assects/img/cambridge-removebg-preview.png">
                <div class="layer">
                    <h3>ISLAMABAD</h3>
                </div>
            </div>
            <div class="campus-col">
                <img src="../assects/img/isb_c-removebg-preview.png" alt="">
                <div class="layer">
                    <h3>GILGIT BALTISTAN</h3>
                </div>
            </div>
        </div>

    </section>

    <section class="faclaties">
        <h1>Our faclaties</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis, mollitia?</p>
        <div class="row">
            <div class="faclaties-col">
                <img src="../assects/img/myhc_16923.jpg">
                <h3>World class library</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus animi nobis asperiores illo
                    distinctio quam consectetur nam laboriosam eius nisi.</p>
            </div>
            <div class="faclaties-col">
                <img src="../assects/img/main-qimg-117ed8e542d73a71b2bb3681e809a9e6.webp">
                <h3>Football ground</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus animi nobis asperiores illo
                    distinctio quam consectetur nam laboriosam eius nisi.</p>
            </div>
            <div class="faclaties-col">
                <img src="../assects/img/shutterstock_1711048663.webp">
                <h3>Cafeteria</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus animi nobis asperiores illo
                    distinctio quam consectetur nam laboriosam eius nisi.</p>
            </div>
        </div>
    </section>



    <section class="testmonial">
        <h1>What our students says</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor, natus.</p>
        <div class="row">
            <div class="testmonial-col">
                <img src="../assects/img/user.png">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolorum cupiditate ex rerum, a
                        expedita delectus voluptatem fugit numquam sapiente quas nihil blanditiis modi maxime. Beatae
                        nostrum eligendi cum
                    </p>
                    <h3>Maxanny</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="testmonial-col">
                <img src="../assects/img/user2.png">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolorum cupiditate ex rerum, a
                        expedita delectus voluptatem fugit numquam sapiente quas nihil blanditiis modi maxime. Beatae
                        nostrum eligendi cum
                    </p>
                    <h3>David bylr</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-o"></i>
                </div>
            </div>
            <div class="testmonial-col">
                <img src="../assects/img/user3.png">
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat dolorum cupiditate ex rerum, a
                        expedita delectus voluptatem fugit numquam sapiente quas nihil blanditiis modi maxime. Beatae
                        nostrum eligendi cum
                    </p>
                    <h3>cristo tony</h3>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star"></i>
                    <i class="fa fa-star-half-o"></i>
                </div>
            </div>
        </div>
    </section>


    <section class="cta">
        <h1>Enroll for Our various course from any where <br> in the worlds</h1>
        <a href="" class="hero-btn">CONTACT Us </a>

    </section>



    <section class="footer">
        <h4>About us</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur atque, non sapiente necessitatibus iure
            minima, vitae officiis laborum placeat quidem porro eligendi nulla dignissimos quisquam <br> saepe impedit,
            facere ea voluptatibus.</p>
            <div class="icons">
            <i class="fa fa-facebook"></i>
            <i class="fa fa-twitter"></i>
            <i class="fa fa-instagram"></i>
            <i class="fa fa-linkedin"></i>
            </div>
            <p>made with <i class="fa fa-facebook"></i>by easy tutorials</p>


    </section>













</body>

</html>